*.pyc
*.log
nohup.*
finalize/tmp
finalize/all_alnRes
finalize/debug_data
interactions
virus_zone
temp
ncbi_virus
*.a3m
antibodies/SNAC
rcsb
**/tmp/
*tmp*
**/processed/
*processed*
*.m8
*.fasta
*.a3m
peptides/PANCS_Binders/source_data_2
skempi/PDBs
*.ipynb_checkpoints
*__pycache__